[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
python-json-logger = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"

[scripts]
"start:nginx" = "python main.py --nginx"
"start:filecopy" = "python main.py --filecopy"
test = "pytest"
lint = "flake8" 